*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(217, 54%, 11%);
}

/* @media (max-width:400px){
    .heading {
        border: 1px solid green;
        position: absolute;
        top: 66px;
        color: white;
        font-size: 2rem;
        text-align: center;
    }
} */

/* .main{
    border: 1px solid orange;
    height: 70%;
    padding: 10px;
    position: relative;
    display: flex;
    align-items: center;

} */


.wrapper{
    width: 600px;
    background-color: hsl(216, 50%, 16%);
    border: 1px solid yellow;
    border-radius: 20px;
    padding: 30px 20px 30px ;
}

.heading{
    border: 1px solid green; 
    position: absolute;
    top: 186px;
    
}

.heading h1{
    color: white;
    font-size: 1.5rem;
}

.wrapper header{
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
    color:hsl(178, 100%, 50%);
}

.wrapper .content{
    margin: 30px 0;
}

.content .quote-area{
    display: flex;
    justify-content: center;
}

.quote-area i{
    font: 18px;
    color: hsl(215, 51%, 70%);
}

.quote-area i:first-child{
    margin: 3px 5px 0 0;
}

.quote-area i:last-child{
    display: flex;
    align-items: flex-end;
    margin-bottom: 12px;
}

.quote-area .quote{
    font-size: 1.8rem;
    text-align: center;
    word-break: normal;
    color:hsl(215, 51%, 70%);
}

.content .author{
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
    font-size: 22px;
    font-style: italic;
    font-weight: bold;
    color: #ccc;
}

.author span:first-child{
    margin: -9px 5px 0 0;
}

.wrapper .buttons{
    border-top: 1px solid #ccc;
}

.buttons .features{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}


.features ul{
    display: flex;
}

.features ul li{
    list-style: none;
    margin: 0 5px;
    height: 45px;
    width: 45px;
    color: hsl(178, 100%, 50%);
    display: flex;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    border: 2px solid hsl(178, 100%, 50%);
    border-radius: 50px;
    transition: all 0.3s ease;
}

.features ul li:hover{
    color: #fff;
    background-color: hsl(178, 100%, 50%);
}

.features button{
    border: none;
    outline: none;
    color: hsl(216, 50%, 16%);
    cursor: pointer;
    font-size: 16px;
    padding: 13px 22px;
    background-color: hsl(178, 100%, 50%);
    border-radius: 16px;
    font-weight: bold;
}

button.loading{
    opacity: 0.7;
    pointer-events: none;
}
